body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: minmax(300px, 400px) minmax(500px, 1fr);
}

* {
    color: #5d5c5c;
}

.icon {
    filter: invert(37%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(93%) contrast(90%);
    width: 40px;
    height: auto;
}

button {
    border-style: none;
    background-color: inherit;
    cursor: pointer;
}

textarea {
    padding: 5px;
}

input[type="checkbox"], select {

    &.important {
        --primary-color: #ff0000;
        --secondary-color: #ffb0b0;
    }

    &.semi-important {
        --primary-color: #5b5b5b;
        --secondary-color: #d3d3d3;
    }

    &.not-important {
        --primary-color: #0690be;
        --secondary-color: #add8e6;
    }
}

select {
    appearance: none;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px var(--primary-color);
    position: relative;

    &:focus {
        outline: none;
    }

    &:enabled {
        cursor: pointer;
    }

    & option {
        background-color: #ffffff;
    }
}

.sidebar {
    background-color: #f0f0f0;

    & .tabs {
        position: sticky;
        top: 25px;

        & .tab {
            width: 100%;
            display: flex;
            align-items: center;

            &:hover, &.selected {
                background-color: #d3d3d3;
            }

            &.my-projects {
                font-size: 25px;
                font-weight: bold;
                padding: 7px 35px;
                margin-top: 25px;
                gap: 15px;

                & .icon {
                    width: 45px;
                }
            }

            &.project, &.new-project {
                font-size: 18px;
                padding: 4px 42px;
                gap: 10px;
            }
        }
    }
}

.main-content {
    padding: 75px 15px;

    hr {
        margin: 15px 0;
    }

    & .heading {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 5px;

        & .name {
            width: 500px;
            margin-right: auto;
            font-size: 30px;
            font-weight: bold;
        }
    }

    & :is(input, textarea):read-only, :disabled {
        border: none;

        &:focus {
            outline: none;
        }
    }

    :is(input, textarea):read-write {
        background-color: #f0f0f0;
    }

    & input[type="checkbox"] {
        appearance: none;
        position: relative;
        width: 30px;
        height: 30px;
        border: 2px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 25px;

        &:checked::before {
            content: "⬤";
            color: var(--primary-color);
            position: absolute;
            left: 0.5px;
            bottom: -0.5px;
        }
    }

    & .project {
        width: 80%;
        margin: 0 auto;

        & .tasks {
            font-size: 22px;

            & + .tasks {
                margin-top: 50px;
            }

            &:last-child {
                margin-bottom: 75px;
            }

            & .date-heading {
                margin: 25px 0 0 5px;
            }

            & .task {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0 15px;

                & .task-name {
                    margin-right: auto;
                }
            }
        }
    }

    & .expanded-task {
        width: 80%;
        margin: 0 auto;
        font-size: 22px;

        & .task-heading {
            margin: 0 10px;
        
            & input[type="checkbox"] {
                width: 35px;
                height: 35px;

                &::before {
                    font-size: 25px;
                    left: 1.5px;
                    top: -5px
                }
            }
        }

        & .task-info {
            margin: 0 10px;
            display: flex;

            & .task-date {
                margin-right: auto;
                width: 175px;
            }

            & .task-priority {
                width: 215px;
                font-weight: bold;
                border: 1px solid;
                padding: 0 10px;
            }
        }

        & .task-description {
            width: 100%;
            height: 300px;
            resize: none;
            margin: 0 10px;
        }
    }
}

.add-task-dialog {
    border: 2px solid #5d5c5c;
    width: 800px;
    height: 800px;
    justify-self: center;
    align-self: center;

    & .add-task-form {
        padding: 25px;
        text-align: center;

        & .form-title {
            font-size: 38px;
        }

        & label {
            display: block;
            font-size: 28px;
            text-align: left;
            margin-top: 10px;
        }

        & input, textarea, select {
            font-size: 20px;
            width: 100%;
            padding: 5px 10px;
            resize: none;

            &:focus {
                outline: none;
            }
        }

        input, .task-description, .add-task-btn {
            box-shadow: 2px 2px 2px #5d5c5c;
        }

        & .task-description {
            height: 225px;
        }

        & .add-task-btn {
            font-size: 25px;
            width: 28%;
            border: 1px solid #5d5c5c;
            margin-top: 25px;

            &:active {
                box-shadow: inset 2px 2px 2px #5d5c5c;
            }
        }

        & .close-form-btn {
            width: 50px;
            height: 50px;
            background: url("../icons/close-box-outline.svg") center / 50px no-repeat;
            position: absolute;
            top: 10px;
            right: 10px;

            &:hover {
                background-image: url("../icons/close-box-filled.svg");
            }
        }
    }
}
